
# Environment Variables
.env
.env.*.local # Local environment files (e.g., .env.development.local)

# Logs
logs/
*.log



# IDE and Editor Specific Files
.idea/ # IntelliJ IDEA
.vscode/ # VS Code
!.vscode/extensions.json
*.swp # Vim swap files
*.swo # Vim swap files
*~ # Emacs backup files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Operating System Files
.DS_Store
Thumbs.db
TODO
Bruno